body{
    text-align: center;
}
  h1{
    font-family: 'Dancing Script', cursive;
 }
 p{
    font-family: 'Dancing Script', cursive;
 }
body{
    background-color: #4A7A8C;
}
h1{
    background-color: #D9C2AD;
}
p{
    background-color: #0D0D0D;
}
li{
    font-family: 'Dancing Script', cursive;
font-family: 'Edu NSW ACT Foundation', cursive;
}
h2{
    background-color: #0D0D0D;
}
h1{text-shadow: 3px 2px 5px #4A7A8C;
}
p{
    text-indent: 2rem;
}
.kaue{
    font-family: 'Dancing Script', cursive;
    font-family: 'Edu NSW ACT Foundation', cursive;
}
